<div class="venue">
  <h1><%= venue.name %></h1>
  <h2>City: <%= venue.city %></h2>
  <p>State: <%= venue.state %></p>
  <p>Family Friendly: <%= venue.is_family_friendly %></p>
  <%= link_to "Go to Venue", venue_path(venue) %>
</div>

