<br/>
<a href="/mumbles/new"><h2>new mumble</h2></a>

<div class="feed">
  <div class="mumble">
    <img class="author-thumb" src="<%= @mumble["author_thumbnail"] %>" width="40"/>
    <span class="author-text"><%= @mumble["author_handle"] %></span>
    <span class="date-text"><%= @mumble["date"] %></span>
    <hr class="before"/>
    <img src="<%= @mumble["image"] %>" />
    <p><%= @mumble["text"] %>
    <% if @mumble["tags"] %>
      <br/><%= @mumble["tags"] %>
    <% end %></p>
    <hr class="after"/>
    <span class="likes-text"><i class="fa fa-heart"></i> 0 likes</span>
  </div>
</div>