<h1 class="centered"><%= @cast_member["name"] %></h1>
<p>Occupation: <%= @cast_member["occupation"] %></p>
<p>Age: <%= @cast_member["age"] %></p>
<img src="<%= @cast_member["image_url"] %>" alt="Image of <%= @cast_member["name"] %>">

<% if @cast_member["eliminatable"] == "true" %>

<% end %>
