<<<<<<< HEAD
<style>
  html{
    width: 960px;
    margin: 0 auto;
    background-color: #f200f2;
  }
</style>
<h1>Students</h1>

<ul>
  <% @gravatars.each_with_index do |gravatar, id| %>
    <li>
      <p><%=  @student_list[id] %></p>
      <a href="/students/<%= gravatar %>"><img src="http://www.gravatar.com/avatar/<%= gravatar %>"></a>
    </li>
  <% end %>
=======
<ul>
<% @students.each do |student| %>
  <li>
    <a href="/students/<%= student %>">
      <img src="http://www.gravatar.com/avatar/<%= student %>" alt="picture">
    </a>
  </li>
<% end %>
>>>>>>> c099948064a933f64ac72e44335b76ee75f37f5c
</ul>
