<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <header></header>
  <body>

    <div class="question">
    <%= yield %>
    </div>

    <div class="button-div">
    <% if @yn %>
      <button class="yes"> <a href=<%= @yes %>>YES </a> </button>
      <button class="no"> <a href=<%= @no %>> NO </a> </button>

    <% else %>
      <button class="endpoint"><a href=<%= @target %>> <%= @btntext %> </a> </button>
    <% end %>
    </div>
  </body>

</html>
