<p>Name: <%= @star[:name] %></p>
<p>Date of Birth: <%= @star[:born_on] %></p>
<img src="<%= @star[:image_url] %>" alt="Picture of <%= @star[:name] %>">

<iframe src="http://www.youtube.com/embed/<%= @star[:embed_id] %>" frameborder="0"></iframe>
