<!-- _author.html.erb -->
<h1><%= link_to author.name, author_path(author) %></h1>
<p>Gender: <%= author.gender %></p>
<p>Birthday: <%= author.born_on %></p>
<p>Died On: <%= author.died_on %></p>
<p>Pseudonyms? <%= author.has_pseudonym %></p>
