<div class="actions">
<% @stuff[:actions].each do |action| %>
  <h1><%= action %></h1>
<% end %>
</div>

<div class="question">
  <h2><%= @stuff[:question] %></h2>
</div>

<div class="images">
  <% @stuff[:images].each do |image| %>
    <img src="/img/<%= image %>">
  <% end %>
</div>

<div class="queries">
  <% @stuff[:options].each do |text,link| %>
    <button>
      <a href="/<%= link unless link == '/' %>">
        <%= text.to_s.split('_').map { |x| x.capitalize }.join(' ') %>
      </a>
    </button>
  <% end %>
</div>


