<div class="actions">
  <h1><%= @opening if @opening != nil%></h1>
  <h1><%= params[:info] if params[:info] %></h1>

  <% @stuff[:actions].each do |action| %>
    <h1><%= action %></h1>
  <% end %>

</div>

<div class="question">
  <h2><%= @stuff[:question] %></h2>
</div>

<div class="images">
  <% @stuff[:images].each do |image| %>
    <img src="/img/<%= image %>">
  <% end %>
</div>

<div class="queries">
  <ul>
    <% @stuff[:options].each do |text,link| %>
      <li>
        <a href="/<%= link %>">
          <%= text.to_s.split('_').map { |x| x.capitalize }.join(' ') %>
        </a>
      </li>
    <% end %>
  </ul>
</div>


