<!-- Notice here that I'm passing the form_for an array. -->
<!-- This is because the event needs to belong to a particular venue (It's a nested resource) -->
<%= form_for [@venue, @event] do |f| %>
  <%= f.label :band %>
  <%= f.select :band_id do |o| %>
    <% @bands.each do |band| %>
      <option value="<%= band.id %>"><%= band.name %></option>
    <% end %>
  <% end %>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <%= f.label "False" %>
  <%= f.radio_button :alcohol_served, false %>
  <%= f.label "True" %>
  <%= f.radio_button :alcohol_served, true, :value => "True" %>
  <%= f.submit "Create Event" %>
<% end %>
