<h1>Edit Cheese</h1>

<%= form_for @cheese do |f| %>

  <%= f.label      :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label      :milk_type, "Milk Type" %>
  <%= f.text_field :milk_type %>

  <%= f.label      :image_url, "Image URL" %>
  <%= f.text_field :image_url %>

  <%= f.label      :description, "Description" %>
  <%= f.text_field :description %>

  <%= f.submit %>

<%end%>
