<!-- GET requests to /cheeses/1 should display the name, milk_type, description, and image (via image_url) of the cheese with the id of 1, while GET requests to /cheeses/7 should display the information of the cheese with the id of 7.
 -->

 <div class="cheese">
  <h1><%= @cheese.name %></h1>
  <h2><%= @cheese.milk_type %></h2>
  <img src="<%= @cheese.image_url %>">
  <p><%= @cheese.description %></p>
 </div>

 <%= link_to "Return to Cheeses List", cheeses_path %>
 <%= link_to "Edit Cheese", edit_cheese_path(@cheese) %>
