<div class="event">
  <h1>Date:<%= event.date %></h1>
  <p>Alcohol Served: <%= event.alcohol_served %></p>
  <p>Band ID: <%= event.band_id %></p>
  <p>Venue ID: <%= event.venue_id %></p>
  <%= link_to "Event", event_path(event) %>
</div>
